- content_for :title, "Workshops - 500 Clown"
- body_id('workshops')
- content_for :jstemplates do
  jQuery(function() { app.setupShowList(); });

#main
  %ul.show_list
    - @workshops.each do |workshop|
      %li.showblock
        - if workshop.image?
          %span.photo.left= link_to image_tag(workshop.image.url(:showblock)), workshop
        .title
          .show= link_to workshop.title, workshop
  #wrapper        
    %h1 Workshops
    %p 500 Clown has a large presence as educators in and outside Chicago.  Workshops emphasize taking physical and emotional risk, learning who you are when you play, and partnering.  Students include theater and non-theater professionals, high school and university students, athletes, business school students, corporate folks, various community groups ... Any and All!  We teach while on tour, and we often run classes in Chicago.  Write to adrian@500clown.com for more info.