- content_for :title, "Workshops"

%h1 Workshops

/ -if user_signed_in?
/   = link_to 'New workshop', new_workshop_path

%ul.workshop-list
  - @workshops.each do |workshop|
    %li.workshopblock
      %span.left= link_to image_tag(workshop.image.url(:thumb)), workshop
      %p.title= link_to workshop.title, workshop
      -if user_signed_in?
        %p.admin
          = link_to 'Edit', edit_workshop_path(workshop)
          = link_to 'Destroy', workshop, :confirm => 'Are you sure?', :method => :delete