#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#ajax-status, #flash_notice, #flash_error, #flash_alert  {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px 10px;
  margin: 4px;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, sans-serif;
}
#ajax-status {
  position: fixed;
  bottom: 0;
  right: 100px;
	display: none;
  background-color: #DDD;
	font-size: 1.5em;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

fieldset {
	border: none;
}
fieldset, ol {
	margin: 0;
	padding: 0;
}
textarea {
	width: 520px;
}
ol li {
	list-style: none;
	padding: 10px 0;
}
.inline-errors {
	color: #900;
}
.inline-hints {
	font-size: 0.8em;
	color: #666;
}
label {
	display: block;
}
.label {
	color: #666;
}
.inputs input {
	display: inline;
}
div.ui-datepicker {
	font-size: 12px;
}
li .edit,
li .destroy {
	display: inline;
}
.timestamps {
	padding-bottom: .8em;
	color: #666;
}
.created,
.updated {
	display: inline;
}
.welcome {
	text-align: right;
}
#show_credits_input label,
#show_credits_input input {
	display: inline;
}
.inline {
	display: inline;
}
h1 .admin {
	font-size: 0.5em;
	text-transform: uppercase;
	font-family: ;
}
.admin {
	font-weight: bold;
}
span.add {
	display: block;
	padding-top: 2em;
}
.add {
	font-weight: bold;
}