html,body,div{border:0;margin:0;padding:0;color:#000;}
a {text-decoration:none;color:#DB0000;}
a:hover{color:#900;text-decoration:none;}
#container{width:960px;padding-top:10px;margin:0 auto;}
.g160,.g320,.g480,.g640,.g800,.g960,.g80,.g240,.g400,.g560,.g720,.g880,.g960{float:left;display:inline; margin-left:10px;}
.g160{width:150px;}
.g320{width:310px;}
.g480{width:470px;}
.g640{width:630px;}
.g800{width:790px;}
.g960{width:950px;}
.g80{width:70px;}
.g240{width:230px;}
.g400{width:390px;}
.g560{width:550px;}
.g720{width:710px;}
.g880{width:800px;float:right;}
.ml80{margin-left:90px;}
.ml160{margin-left:170px;}
.ml240{margin-left:250px;}
.ml320{margin-left:330px;}
.ml400{margin-left:410px;}
.ml480{margin-left:490px;}
.ml560{margin-left:560px;}
.ml640{margin-left:650px;}
.ml720{margin-left:730px;}
.ml800{margin-left:810px;}
.ml880{margin-left:890px;}
.ml960{margin-left:970px;}
.inside{margin-left:0;}
p.grid{padding-left:10px;}
.clear{clear:both;}
.clearfix:after,#container:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix,.main{display:block;}

#menu {
	position:fixed;
	float:left;
	margin-top:22px; 
	font-weight: bold;
	clear:none;
}
#menu ul {list-style:none;}
#menu li {
	font-size:24px;
	color: #000;
	font-family: 	;
	display: block;
	padding: 0.4em 0;
}
#menu li:hover{}
#menu li a{text-decoration:none;font-color:#000;}
#menu li a:visited{color:#000}
#menu li a:hover {
	color:#red;
	text-decoration: none;
}

#menu li.admin { font-size: 1em;}
#menu li.admin a{color:#DB0000;}
#menu li.admin a:visited{color:#DB0000}
#menu li.admin a:hover{color:#000;}

#menu .admin a,
#menu .admin a:hover,
#menu .admin a:visited {
	padding: 0;
}
#menu .admin {
	padding: 1em 0 0.2em 0;
}

.admin {
	padding: 0 0 0 1em;
	font-size: 0.9em;
}

.nav a,
.nav a:visited,
.nav a:hover
  {
	padding: 0 0.5em;
	color: #DB0000;
	text-transform: uppercase;
	font-weight: bold;
}
.nav a:hover { color: #FFF }

.hmenu {float: right;position:fixed;padding: 0;}
.hmenu li {list-style: none;}

#sidebar {
	margin-top:10px;
	float:right;
	text-align:left;
}
#sidebar h3 {
	text-align:left;
sidebar
}
.dates {

}
.date_list li{
	padding-top:7px;
}
.date, .time{
	font-size: 16px;
}
.time {color:red	;}
.videos {
	padding:0;
}
iframe, object {
	max-width:525px;
	margin-top:25px;
}

#footer {
	padding: 40px 0;
	margin: 0 auto;
	width: 500px;
	text-align: center;
	clear: both;
}
#footer hr {
	color:#DDD;
	background-color:#DDD;
	height:1px;
	border:none;
}
#credit {
	font-style: italic;
}
.page {margin-top:25px;}