html,body,div{border:0;margin:0;padding:0;color:#000;}
body {background:url(../images/background.jpg) left top repeat;}
a {text-decoration:none;color:#DB0000;}
a:hover{color:#900;text-decoration:none;}
.hover .show a {color:#900;text-decoration:none;}
#container{width:1000px;padding-top:10px;margin:0 auto;}
#menu {
  float:left;
  display:inline;
  width: 200px;
}
.clear{clear:both;}
.clearfix:after,#container:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix,.main{display:block;}

h3 {
  padding: 0.5em 0 0 0.6em;
}

#menu {
	background: url(../images/sidebar.png) left top no-repeat;
	background-size:100% 100%;
	position:fixed;
	float:left;
	width: 180px;
	height: 439px;
	overflow:visible;
	margin-top:22px; 
	margin-left: -20px;
}
#menu ul {
  list-style:none;
  padding: 2em 0 0 1em;
}
#menu li {
	margin-left: 7px;
	font-size: 22px;
	color: #000;
  font-weight: normal;
	display: block;
	text-transform: uppercase;
	padding: 0.6em 0;
}
#menu li a {
	color:	#000;
}
#menu li a:hover {
	color:	#900;
}

#menu li.admin {
	font-size: 1em;
}
#menu li.admin a {
	color:#000;
}
#menu li.admin a:visited {
	color:#000
}
/* YOU ARE HERE */
#menu li.admin a:hover,
#home a.home,
#shows a.shows,
#events a.events,
#workshops a.workshops,
#reviews a.mreviews,
#about a.about,
#contact a.contact
 {
	color:#000;
}

#menu .admin a,
#menu .admin a:hover,
#menu .admin a:visited {
	padding: 0;
}
#menu .admin {
	padding: 1em 0 0.2em 0;
}

#main-content{
  width: 828px;
  float: right;
  background-color: transparent;
  background: url(../images/main_div.jpg) repeat-y;
  background-position: 0 -20px;
  min-height:919px;
  padding: 215px 0 0 20px;
  margin-top: 1em;
}
#main-content .videos {
  text-align: center;
/*  padding-right: 260px;*/
}
#main-content #main {
  float: left;
  padding: 15px 20px;
  width: 520px;
}
#main-content #main div p,
#main-content #main div div {
  padding: 10px;
  background-color: #fff;
}
.nav a,
.nav a:visited,
.nav a:hover
  {
	padding: 0 0.5em;
	color: #DB0000;
	text-transform: uppercase;
	font-weight: bold;
}
.nav a:hover { color: #FFF }

.hmenu {float: right;position:fixed;padding: 0;}
.hmenu li {list-style: none;}

#sidebar {
	font-size:24px;
	float: right;
	width: 229px;
	padding-left:0px;
  margin: 10px 0 0 0;
	text-align:left;
}
#sidebar h3 {
	text-align:left;
}
#date_list{

}
#shows #sidebar {
  margin-top: -200px;
}
#events #sidebar {
  margin-top: -200px;
}
#sidebar ul li{
	padding-top:7px;
}
.date, .time{
	background-color:#fff;
	font-size: 16px;
}
.time {color:#000;}
.videos {
	padding:0;
}
/*.video_list{
  margin-left:60px;
}
*/
/*.video_list li {
    margin-top:25px;
}
*/iframe, object {
	max-width:525px;
}
.page {
  margin-top:25px;
}
#footer {
	font-size:17px;
	text-shadow:1px 1px 3px #fff;
	margin: 0 auto 50px;
	width: 500px;
	text-align: center;
	clear: both;
}
#footer hr {
	color:#111;
	background-color:#111;
	height:1px;
	border:none;
}
#credit {
	padding: 3px;
	font-style: italic;
}