html,body,div{border:0;margin:0;padding:0;color:#000;}
body {background:url(../images/background.jpg) left top repeat;}
a {text-decoration:none;color:#DB0000;}
a:hover{color:#900;text-decoration:none;}
.hover .show a {color:#900;text-decoration:none;}
#container{width:960px;padding-top:10px;margin:0 auto;}
.g160,.g320,.g480,.g640,.g800,.g960,.g80,.g240,.g400,.g560,.g720,.g880,.g960{float:left;display:inline; margin-left:10px;}
.g160{width:150px;}
.g320{width:310px;}
.g480{width:470px;}
.g640{width:630px;}
.g800{width:790px;}
.g960{width:950px;}
.g80{width:70px;}
.g240{width:230px;}
.g400{width:390px;}
.g560{width:550px;margin: 225px 70px 150px 0;}
.g720{width:710px;}
.g880{
  width: 800px;
  float: right;
  background-color: transparent;
  background: url(../images/main_div.jpg) repeat-y;
  background-position: 0 -20px;
  min-height:919px;
}
.ml80{margin-left:90px;}
.ml160{margin-left:170px;}
.ml240{margin-left:250px;}
.ml320{margin-left:330px;}
.ml400{margin-left:410px;}
.ml480{margin-left:490px;}
.ml560{margin-left:560px;}
.ml640{margin-left:650px;}
.ml720{margin-left:730px;}
.ml800{margin-left:810px;}
.ml880{margin-left:890px;}
.ml960{margin-left:970px;}
.inside{margin-left:0;}
p.grid{padding-left:10px;}
.clear{clear:both;}
.clearfix:after,#container:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix,.main{display:block;}

h3 {
	padding:1em 0 0 1em;
}

#menu {
	background: url(../images/sidebar.gif) left top no-repeat;
	background-size:100% 100%;
	position:fixed;
	float:left;
	width: 150px;
	height: 313px;
	overflow:visible;
	margin-top:22px; 
	font-weight: bold;
	clear:none;
}
#menu ul {list-style:none;}
#menu li {
	margin-left:7px;
	font-size:22px;
	color: #000;
	font-family: 	;
	display: block;
	padding: 0.4em 0;
}
#menu li a {
	color:	#000;
}
#menu li a:hover {
	color:	#900;
}

#menu li.admin {
	font-size: 1em;
}
#menu li.admin a {
	color:#000;
}
#menu li.admin a:visited {
	color:#000
}
#menu li.admin a:hover,
#home a.home,
#shows a.shows,
#events a.events,
#workshops a.workshops,
#reviews a.mreviews,
#about a.about,
#contact a.contact
 {
	color:#000;
}

#menu .admin a,
#menu .admin a:hover,
#menu .admin a:visited {
	padding: 0;
}
#menu .admin {
	padding: 1em 0 0.2em 0;
}

.admin {
	padding: 0 0 0 1em;
	font-size: 0.9em;
}

.nav a,
.nav a:visited,
.nav a:hover
  {
	padding: 0 0.5em;
	color: #DB0000;
	text-transform: uppercase;
	font-weight: bold;
}
.nav a:hover { color: #FFF }

.hmenu {float: right;position:fixed;padding: 0;}
.hmenu li {list-style: none;}

#sidebar {
	font-size:24px;
	float: right;
	width: 180px;
	padding-left:0px;
  margin: 10px 0 0 0;
	text-align:left;
}

#sidebar h3 {
	text-align:left;
}
#date_list{

}

#sidebar ul li{
	padding-top:7px;
}
.date, .time{
	background-color:#fff;
	font-size: 16px;
}
.time {color:#000;}
.videos {
	padding:0;
}
.video_list{
	margin-left:60px;
}
.video_list li {
		margin-top:25px;
}
iframe, object {
	max-width:525px;
}

#footer {
	font-size:17px;
	text-shadow:1px 1px 3px #fff;
	margin: 0 auto 50px;
	width: 500px;
	text-align: center;
	clear: both;
}
#footer hr {
	color:#111;
	background-color:#111;
	height:1px;
	border:none;
}
#credit {
	
	padding: 3px;
	font-style: italic;
}
.page {margin-top:25px;}