/* LAYOUT */
#container {
	margin-top: 1em;
}
.tag_title {
	font-weight: bold;
	padding-right: 0.5em;
}
.tags {
	color: #555;
	padding: 1em 0 2em 0;
	font-size: 0.9em;
}
.reference {
	padding-bottom: 0.5em;
}
.left { 
  float: left; 
  margin: 0 1em 1em 0; 
  padding: 0; 
}
.right { 
  float: right; 
  margin: 0 0 1em 1em;  
}

/* HOME */
h1.home {
	font-size: 3em;
}
#home .description { 
	font-style: italic;
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1.4em;
}
.facebookfeed,
.facebookfeed ul {
	padding: 0;
	margin: 0;
}
.facebookfeed li {
	padding: 0 0 0.5em 0;
	margin: 0;
	clear: left;
}
.facebookfeed .name {
	font-weight: bold;
	clear: both;
}
.facebookfeed .date {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.7em;
	padding: 0.5em 0;
	color: #999;
	display: block;
}
#home h3 {
	margin-top: 3em;
}


/* LISTS */
.event_list,
.show_list,
.workshop_list,
.date_list,
.review_list,
.credit_list,
.upcoming_events,
.flickr_list {
	padding: 0;
	margin: 0;
}
.event_list li,
.show_list li,
.workshop_list li,
.date_list li,
.review_list li,
.upcoming_events li {
	list-style: none;
	padding-top: 0.2em;
	padding-bottom: 0.5em;
}
.event_list li,
.workshop_list li,
.review_list li,
.upcoming_events li {
	clear: both;
}
.credit_list li {
	padding: 0.15em 0;
}
.review_list .title,
.review_list .source {
	font-family: "Baskerville", 'Times New Roman', Times, serif; 
}

/* EVENTS */
.event_type {
	padding-bottom: 0.175em;
	text-transform: uppercase;
}
.event_type .label {
	font-weight: bold;
}
.when form .label {
	width: 75px;
	float: left;
	text-align: right;
	padding: 0 0.3em 0.5em 0;
	font-weight: bold;
	color: #999;
}
.when form .label img {
	vertical-align: bottom;
}
.date_list li {
	padding: 0.1em 0;
}
form.showdate .start,
form.showdate .end {
	clear: left;
}
form.showdate {
	padding-bottom: 2em;
}
#add_showdate {
	margin: 0.5em 0;
}
#add_showdate:hover {
	color: #DB0000;
	cursor: pointer;
}
.description {
	margin-top: 0.4em;
}

/* VENUE */
.where {
	padding-top: 1em;
}
.venue_title {
	font-weight: bold;
}
.address p {
	margin: 0;
	padding: 0;
}
#map_canvas {
	margin: 0.7em 0;
	width: 240px; 
	height: 210px;
}
#venue_state {
	display: inline;
}
.venue_list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.venue_list li {
	padding: 1em 0;
}

/* SHOWS */
.show_list {
	margin: 1em 0 0 0;
	padding: 0;
}
.show_list .showblock {
	float: left;
	padding: 5px;
	width: 200px;
	height: 245px;
}
.showblock .title {
	font-size: 1.1em;
	font-weight: bold;
	padding-bottom: 0.2em;
}
.showblock.hover {
	background-color: #E2E2E2;
}
.flickrs,
.reviews,
.credits,
.additional_info {
	padding-top: 1em;
	clear: both;
}
.info_title {
	padding: 1em 0 0 0;
}
.credits .title,
.credits .name {
	font-size: 0.9em;
}
.credits .title {
	color: #333;
	font-weight: bold;
}
.credits .name {
	color: #333;
}
form.credit {
	padding-top: 1em;
}


/* WORKSHOPS */




/* PRESS */
.reference {
	font-size: 0.8em;
	color: #888;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.review_list .url {
	font-size: 0.8em;
	padding-top: 0.5em;
}
.reviews .review_list a {
	padding-left: 1em;
	font-size: 0.8em;
	text-transform: uppercase;
}
.reviews {
	clear: both;
}


/* FLICKR */
li.flickr {
	display: block;
	padding: 1em 0;
}
.flickrs .title {
	display: block;
	padding-bottom: 0.5em;
	clear: left;
}
.flickrs .title img {
	vertical-align: middle;
}
.flickrs .slideshow {
	clear: left;
}
ul.pagination { list-style:none; padding:0; margin: 0 0 2em 0; }
ul.pagination li { float:left; line-height: 1.3em;}
ul.pagination li a { padding:2px 4px; }
ul.pagination li.current a { background:#DB0000; color:white; }
