td,
th {
	padding: 4px;
}
th {
	text-align: left;
}
.tags {
	font-size: 0.8em;
	font-weight: bold;
	padding: 1em 0;
}
ul.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}