/* LAYOUT */
#home #eventsTab {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 280px;
	background: transparent url(../images/upcoming-events.png) no-repeat top right;
	overflow: none;
}
.tag_title {
	font-weight: bold;
	padding-right: 0.5em;
}
.tags {
	width:400px;
	background:#fff;
	color: #000;
	padding:0;
	margin:25px 0 0 45px;
	font-size: 0.9em;
}
.reference {
	padding-bottom: 0.5em;
}
.left { 
  float: left; 
  margin: 0 1em 1em 0; 
  padding: 0; 
}
.right { 
  float: right; 
  margin: 0 0 1em 1em;  
}

/* HOME */
#home .home_description { 
display:none;
}
.upcoming {
  padding: .2em 0;
  display: block;
}
.upcoming h3 {
  background:#FFF;
}
.upcoming li {
  margin: 5px 0;
}
.upcoming li.title a {
  color:#000;
  font-size:125%;
  background:#fff;
}
/*.promotions {
  padding: 215px 0 30px
}
*/
/*.promotions p{
  background:#fff;
  width:550px;
  margin: 0 auto;
  padding:12px 16px;
}*/
.promotions div.title {
  font-size: 1.2em;
	margin: 15px 0;
	text-align:center;
}
/*#feedTitle{
  font-size:150%;
  margin-top: 5px;
  padding:3px 0 7px 0;
  clear:left;
}

.facebookfeed {
  padding: 0;
  margin: 0;
}
.facebookfeed li {
  width:480px;
  padding: 0 0 0.5em 0;
  margin: 0;
  clear: left;
  border-top: 1px solid #eee;
}
.facebookfeed a{
  color:red;
}
.facebookfeed .name {
  font-weight: bold;
  clear: both;
}
.facebookfeed .date {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  padding: 0.5em 0;
  color: #999;
  display: block;
}*/

/* LISTS */
.event_list,
.show_list,
.workshop_list,
.review_list,
.upcoming_events,
{
	padding: 0;
	margin: 0;
}
.credit_list {
	margin:1em 0;
}
.show_list li .title a
{
	color:#fff;
}
.event_list li,
.show_list li,
.workshop_list li,
.review_list li,
.upcoming_events li {
	list-style: none;
	padding-top: 0.2em;
	padding-bottom: 0.5em;
}
.event_list li,
.workshop_list li,
.review_list li,
.upcoming_events li {
	clear: both;
}
.credit_list li {
	padding: 0.15em 0;
}
.review_list .title,
.review_list .source {
	font-family: "Baskerville", 'Times New Roman', Times, serif; 
}

/* EVENTS */
.event_type {
	background:#fff;
	padding-bottom: 0.175em;
	text-transform: uppercase;
	text-align:left;
	font-weight:900;
}
.event_type .label {
	font-weight: bold;
}
.event_list {
	padding-top: 1em;
}
.description
{
	background:#fff;
/*  width:525px;
  margin-left:40px;
  margin-top: 25px;
  text-align:left;*/
}
.description h2{
	padding:1ex 0 0 1ex;
}
.description p {
	padding:1em;
}
.SB_credits {
	padding:0;
	background:#fff;
	width: 100px;
}
.SB_ticket_url {
	font-size:26px;
	background:#fff;
	width:175px;
	margin-left:0;
	margin-top: 15px;
	margin-bottom:;
	text-align:center;
}
.ticket_url {
	font-size:45px;
	background:#fff;
	width:250px;
	margin-left:35px;
	margin-top: 15px;
	margin-bottom:25px;
	text-align:center;
}
.price {
	width:180px;
	background:#fff;
	margin:10px 0;
	padding:0;
	font-size: 80%;
	text-align:left;
}
/* VENUE */
.where {
	background:#fff;
	margin-top:25px	;
	padding:5px 6px;
	margin-left:300px;
	font-size: .8em;
	width: 250px;
}
.venue_title {
	font-weight: bold;
}
.address {
	margin: 0;
	padding: 0;
}
#map_canvas {
	margin: 225px 0 0  45px;
	width: 525px; 
	height: 250px;
	box-shadow:0 0 3px #333;
}
#venue_state {
	display: inline;
}
.venue_list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.venue_list li {
	padding: 1em 0;
}

/* SHOWS */
/*#shows .videos, #workshops .videos {margin-top:225px;}*/
.show_list {
  width: 575px;
}
.show_list .showblock {
	background:#000;
	padding:0;
	float: left;
	width: 175px;
	height: 175px;
	border: 5px solid #fff;
}
.showblock .show img {
	padding:0;
	width: 175px;
	height: 175px;
}
.showblock .admin {
  margin-top: -30px;
  height: 10px;
  width: 90px;
  padding: 5px;
  float: none;
  display: block;
}
.showblock {
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 0.2em;
}
/* jQuery hover */
.showblock.hover .photo img {
  display: none;
}
.showblock .show {
  display: none;
} 
.showblock.hover .show {
  display: block;
}
.showblock .title {
  position: relative; 
  top: 0px; 
  left: 0px; 
  text-transform: uppercase; 
  text-align: center;
  text-indent: 0px; 
}
/*.showblock .title {display:none;}*/
.flickrs,
.reviews,
.credits,
.additional_info {
	padding-top: 1em;
	clear: right;
}
.reviews{
	width:500px;
	margin-left:50px;
}
.showblock .title .show {
  position: relative;
  padding:0;
  width: 175px;
  height: 175px;
  font-size:18px;
}
.showblock .title .show a {
	position: absolute;
	left: 0;
	top: 20px;
	padding: 25px;
}
.credits li{
	text-align:left;
	padding: 6px 0;
}
.info_title {
	padding: 1em 0 0 0;
}
form.credit {
	padding-top: 1em;
}
.credit {
	font-size: 16px	;
	color: #000;
	background:#fff;
}
.name{
	font-size: 20px	;
	color: #000;
	background:#fff;
}


/* WORKSHOPS */




/* PRESS */
.review_list span {
	font-size: 0.8em;
}
.review_list .source {
	text-align: left;
	padding-left: 2em;
}
.review_list {
	background: #fff;
	padding-bottom:1em;
}
.review_list li {
	padding: 0.1em 2em 1em 1em;
}


/* FLICKR */
.tk-poster{background:#fff;}
/*.flickrs {margin-left:40px;width:525px;}
*/
.flickrs .title {
	background:#fff;
	display: block;
	padding: 1em;
	margin:1ex 0;
}
.flickrs .slideshow {
	clear: left;
}
.flickrs li {
	background:#fff;
	display: block;
	padding: 1em;
	margin-left:0 auto;
	list-style: none;
}
.flickrs a {
	padding:0;
}
.flickrs img {
	padding:0;
	margin:0px;
	border:5px solid #fff;
}
#sidebar .flickrs {margin-left:0;}
#sidebar .flickrs a {
	padding:0;
}
#sidebar .flickrs img {
	border:none;
}
#sidebar .flickrs li .title {
	display:none;
}
#sidebar .flickrs li {
	width:190px;
	background:#fff;
	display: block;
	padding: 1em 0;
	margin: 0;
	list-style: none;
}
#sidebar .flickrs a {
	padding:0;
}
#sidebar .flickrs img {
	padding:0;
	margin:6px 0px 6px 12px;
	background:#fff;
}

.flickrs li .title {
	display:block;
}

#events .flickrs li .title {
	text-align: center;
	padding-left: 0.5em;
}

#events .flickrs .flickr_list li.flickr {

}
#johnnyShim{
	width:750px;
	display:block; margin-left:10px;
	
}

/* jquery faded pagination */
ul.pagination { list-style:none; padding:0; margin: 0 0 2em 0; }
ul.pagination li { float:left; line-height: 1.3em;}
ul.pagination li a { padding:2px 4px; }
ul.pagination li.current a { background:#DB0000; color:white; }

/* redcloth basic formatting */
.redcloth ul {
	list-style: disc inside none;
}
.redcloth ol li {
	list-style: decimal inside none;
}
.redcloth li {
	padding: 0.2em 0;
}
.redcloth ul,
.redcloth ol {
	margin: 0.2em 0 0.9em 1.5em;
	color: #900;
}