	body { 
  font:75%/1.5em;
	font-family: Georgia, 'Times New Roman', Times, serif; 
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  color: #666;
}

p {
  padding:0 0 0.5em 0;
/*  margin-right: 2em;*/
  color:#333; 
  word-spacing:0.04em;   
  letter-spacing:0.01em; 
	line-height: 1.5em;
}
p img.left { 
  float: left; 
  margin: 0 1em 1em 0; 
  padding: 0; 
}
p img.right { 
  float: right; 
  margin: 0 0 1em 1em;  
}

h1,h2 {  
	font-family: "Times New Roman", Georgia, 'Times New Roman', Times, serif; 
}
h3,h4,h5,h6 { 
  font-weight: normal; 
	font-family: "Times New Roman", Georgia, 'Times New Roman', Times, serif; 
  color: #999999; 
}
h1 { 
  color: #DB0000;
  color: #222222;
  font-weight:normal;
  font-size: 4em;  
  line-height: 1em;
  margin-bottom: 0;
  text-align: left;
}
h2 {
  font-weight:bold;
  color: #333;
  font-size: 1.6em;  
}
h3 {
  color: #333;
  font-size: 1.66em; 
}

h3 a {
	color: #DB0000;
/*	text-decoration:underline;*/
}
h4 {
  font-size: 1.2em;  
  margin-bottom: 1em;
  margin-left: 1.1em; 
  margin-top: 0.3em; 
}
h5 {
  color: #666666;
  font-size: 1.1em;
  margin-left: 1.4em;
  margin-top: 1.8em;
  margin-bottom: 0.5em;
}




dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dl dd { margin-left: 1.5em; }

a { color: #DB0000; text-decoration: none; }
a:hover { color: #F00; text-decoration: underline; }

p a { color: #DB0000; }
p a:hover { color: #F00; }


table {  margin-bottom: 1.5em; border-collapse: collapse; }
th {font-weight: bold; }
tr, th, td { margin:0; padding:0 1.5em 0 1em; height:18px; }
tfoot { font-style: italic;  }
caption { text-align:center; font-family:Georgia, serif;  }


abbr, acronym { border-bottom: 1px dotted #000; }
address { margin-top: 1.5em; font-style: italic; }
del { color: #000; }


blockquote { font-size: 1.1em;; margin: 1.5em 1.5em 0.5em 0; font-style:italic; line-height: 1.5em;}
strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
pre, code { margin: 1.5em 0; white-space: pre; }
pre, code, tt { font: 1em monospace; line-height: 1.5; } 
tt { display: block; margin: 1.5em 0; }
hr {margin:1.5em;}


