= form_for @video, :remote => true do |r|
  - if @show
    %input{:type => "hidden", :name => "show_id", :value => @show.slug}
  - elsif @workshop
    %input{:type => "hidden", :name => "workshop_id", :value => @workshop.slug}
  - elsif @event
    %input{:type => "hidden", :name => "event_id", :value => @event.slug}
  - elsif @promotion
    %input{:type => "hidden", :name => "promotion_id", :value => @promotion.id}
  - elsif @page
    %input{:type => "hidden", :name => "page_id", :value => @page.slug}

  = r.label :code, "Embed Code"
  = r.text_area :code, :cols => 20, :rows => 5

  = r.submit "Add Video"