<% stylesheet("ui-darkness/jquery-ui-1.8.5.custom.css") %>

<%= form_for(@showdate, :remote => true, :html => {:class => 'formtastic'}) do |f| %>
<fieldset class="inputs">
<ol><li class="string optional" id="event_showdate_start_date_input"><label for="event_showdate_start_date">Date</label><input id="datepicker" class="datepicker" name="showdate[start_date][]" size="30" type="text" /></li></ol>

<fieldset class="buttons"><ol>    <li class="commit"><input class="update" id="showdate_submit" name="commit" type="submit" value="Add Date" /></li> 
</ol></fieldset>
<% end %>

<%= javascript_tag " 
$.datepicker.setDefaults({
   showOn: 'both',
	 dateFormat: 'yy-mm-dd',
	 gotoCurrent: true,
	 showOtherMonths: true,
	 selectOtherMonths: true,
   buttonImage: '/images/calendar.gif',
   buttonText: 'Calendar' });

$('.datepicker').datepicker();"
%>