%h1 500 Clown
#home
  .description Life is worth the risk.
  = image_tag 'ear.gif'
  %h3 Upcoming events:
  %ul.upcoming_events
    - @upcoming_events.each do |event|
      %li.title= link_to event.title + ' at ' + event.venue_name, event