- content_for :title, "Shows - 500 Clown"

%h1 Shows

%ul#show-list
  - @shows.each do |show|
    %li.showblock
      .title
        = link_to show.title, show
      - if show.image?
        .photo= link_to image_tag(show.image.url(:boxy)), show
      -if user_signed_in?
        %span.admin
          = link_to 'Edit', edit_show_path(show)
          = link_to 'Destroy', show, :confirm => 'Are you sure?', :method => :delete  