- content_for :title, "Shows - 500 Clown"
- body_id('shows')
- content_for :jstemplates do
  jQuery(function() { app.setupShowList(); });

%ul.show_list
  - @shows.each do |show|
    %li.showblock
      - if show.image?
        .photo.left= link_to image_tag(show.image.url(:boxy)), show
      .title
        .show= link_to show.title, show