- content_for :title, "Reviews - 500 Clown"
- body_id('reviews')

/ %h1 Press Reviews

#main
  #wrapper
    %h1 Reviews
    %ul.review_list
      - @reviews.each do |review|
        = render(:partial => "reviews/review", :locals => {:review => review})